<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Api Documentation</h2>
    <h5>GET <code>/</code>: Api documentations</h5>
    <h5>GET <code>/student/ </code>: all student data(list of students)</h5>
    <h5>Eg:- <code>
        {
        "success": true,
        "body": [
        {
        "_id": "672ecf6a9aefe6d7a944486e",
        "name": "majid",
        "age": "18",
        "phone": "9078685749",
        "course": "flutter",
        "profile": "profile---id0923203293923923",
        "__v": 0
        },
        {
        "_id": "672ed074131f23fb18e46382",
        "name": "majid",
        "age": "18",
        "phone": "9078685749",
        "course": "flutter",
        "profile": "profile---id0923203293923923",
        "__v": 0
        },
        ]
        }
    </code>
    </h5>


</body>

</html>